{% extends 'base.html' %}
{% load static %}
{% load isinstance %}

{% block meta %}
<title>{{ movie_name }} — GMDb</title>
{% endblock meta %}

{% block content %}

<body>
    {% include 'header.html' %}
    <div class="container my-4">
        <div class="movie-header mb-2">
            <div class="movie-header-title">
                <h1>{{ movie_name }}</h1>
                <p>{{ subtitle }}</p>
            </div>
            <div class="movie-header-overview">
                <p>{{ overview }}</p>
                <h2 class="h5 mb-2">Watch</h2>
                <p>

                    {% for service in streaming_data %}
                        {% for url in service.urls %}
                            {% if url and url != "None" %}
                                <a class="btn btn-{{ service.theme }} mb-1" href="{{ url }}" role="button" rel="noopener" target="_blank" style="background-color: {{ service.color }}">
                                    {% if service.icon %}
                                        <iconify-icon icon="{{ service.icon }}"></iconify-icon>
                                    {% endif %}
                                    {{ service.label }}
                                </a>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </p>
            </div>
            <div class="movie-header-rating">
                {% if rating.imdb_rating %}
                    <div>
                        <p class="movie-header-rating-source">IMDb</p>
                        <p class="movie-header-rating-score"><i class="fa-solid fa-star"></i> {{ rating.imdb_rating }} <small>/10</small></p>
                        <p class="movie-header-rating-sub">from {{ rating.imdb_votes }} votes</p>
                    </div>
                {% endif %}
                {% if rating.meta_score %}
                    <div>
                        <p class="movie-header-rating-source">Metacritic</p>
                        <p class="movie-header-rating-score"><i class="fa-solid fa-star"></i> {{ rating.meta_score }} <small>/100</small></p>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="infobox">
            <table class="unstyled">
                <tbody>
                    <tr>
                        <td class="infobox-name" colspan="2">
                            {{ movie_name }}
                        </td>
                    </tr>

                    {% if poster %}
                    <tr>
                        <td colspan="2" class="infobox-img-parent">
                            <img src="{{ poster }}" alt="Movie poster" class="infobox-img">
                        </td>
                    </tr>
                    {% endif %}

                    {% for entry in infobox_data %}

                    <tr>
                        <td class="infobox-label">{{ entry.label }}</td>
                        <td class="infobox-data">
                            {% if entry.data %}
                                {% if entry.data|isinstance:"list" %}
                                    {% if entry.data|length == 1 %}
                                        {% if entry.data.0|isinstance:"dict" %}
                                            {% if entry.data.0.url %}
                                                <a href="{{ entry.data.0.url }}" rel="noopener" target="_blank">{{ entry.data.0.label }}</a>
                                            {% else %}
                                                {{ entry.data.0.label }}
                                            {% endif %}
                                        {% else %}
                                            {{ entry.data.0 }}
                                        {% endif %}
                                    {% else %}
                                <ul>
                                    {% for item in entry.data %}
                                        {% if item|isinstance:"dict" %}
                                            <li>
                                                {% if item.url %}
                                                    <a href="{{ item.url }}" rel="noopener" target="_blank">{{ item.label }}</a>
                                                {% else %}
                                                    {{ item.label }}
                                                {% endif %}
                                            </li>
                                        {% else %}
                                            <li>{{ item }}</li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            {% endif %}
                                {% else %}
                                    {% if entry.data|isinstance:"dict" %}
                                        {% if entry.data.url %}
                                            <a href="{{ entry.data.url }}" rel="noopener" target="_blank">{{ entry.data.label }}</a>
                                        {% else %}
                                            {{ entry.data.label }}
                                        {% endif %}
                                    {% else %}
                                        {{ entry.data }}
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                <i>No information</i>
                            {% endif %}
                        </td>
                    </tr>

                    {% endfor %}

                    <tr>
                        <td class="infobox-data" colspan="2">

                            {% for entry in infobox_links %}
                            <a href="{{ entry.url }}" rel="noopener" target="_blank">
                                {% if entry.icon %}<iconify-icon icon="{{ entry.icon }}"></iconify-icon>{% endif %}&nbsp;{{ entry.label }}</a>
                            {% if not forloop.last %}·{% endif %}
                            {% endfor %}

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h2>Abstract</h2>
        <p>{{ abstract }}</p>

        <h2>Cast and crew</h2>

        {% for cast_section in cast_data %}

        {% if cast_section.data %}

        <h3 class="mb-3">{{ cast_section.label }}</h3>

        <div class="cast-grid mb-4">
            {% for cast in cast_section.data %}
            <div>
                <div class="card h-100">
                    <div class="row no-gutters">
                        {% if cast.img and cast.img != None %}
                            <div class="col-12 col-md-4">
                                <img src="{{ cast.img }}" class="cast-img" alt="" loading="lazy">
                            </div>
                        {% else %}
                            <div class="col-12 col-md-4">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/a/a1/Sem_imagem_%28cropped%29.jpg" class="cast-img" alt="" loading="lazy">
                            </div>
                        {% endif %}
                        <div class="col-12 col-md-8">
                            <div class="card-body">
                                <h5 class="card-title {% if not cast.role %}mb-0{% endif %}">{% if cast.url %}<a href="{{ cast.url }}" rel="noopener" target="_blank">{% endif %}{{ cast.label }}{% if cast.url %}</a>{% endif %}</h5>
                                {% if cast.role %}
                                    <p class="card-text">{{ cast.role }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        {% endif %}

        {% endfor %}

        <!-- <h2>Query result</h2>
        <pre class="text-wrap">{{ result }}</pre> -->
    </div>
    {% include 'footer.html' %}
</body>
{% endblock content%}